@font-face {
    font-family: 'Segoe UI Regular';
    src: url('../assets/fonts/SegoeUI.eot');
    src: url('../assets/fonts/SegoeUI.eot?#iefix') format('embedded-opentype'),
    url('../assets/fonts/SegoeUI.woff') format('woff'),
    url('../assets/fonts/SegoeUI.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Segoe UI Bold';
    src: url('../assets/fonts/SegoeUI-Bold.eot');
    src: url('../assets/fonts/SegoeUI-Bold.eot?#iefix') format('embedded-opentype'),
    url('../assets/fonts/SegoeUI-Bold.woff') format('woff'),
    url('../assets/fonts/SegoeUI-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Clear Sans Regular';
    src: url('../assets/fonts/ClearSans.eot');
    src: url('../assets/fonts/ClearSans.eot?#iefix') format('embedded-opentype'),
    url('../assets/fonts/ClearSans.woff') format('woff'),
    url('../assets/fonts/ClearSans.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    }
